body{
    background-color: rgb(255, 255, 255);
    
    
}


.top{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #0f0707;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.ai{
    width: 50px;
    height: 40px;
    background-image: url(OIP.jpg);
    background-size: cover;
    border-radius: 50%;
}


.topic{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin: 5px;


}
.logIn{
    height: 20px;
    width: 78px;
    border-top:1px solid rgb(24, 56, 233);
    border-left: 1px solid rgb(233, 38, 24);
    border-right: 1px solid rgb(233, 24, 188);
    border-bottom: 1px solid rgb(254, 254, 255);
    border-radius: 10px;
   
}


.nav{
    height: 50px;
    width: 100%;
    background-color: rgb(158, 145, 145);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 5px;
}
span{
    color: white;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
}
.des{
    /* height: 2rem; */
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 2rem;
    margin-left: 25%;
}
.intro{
    text-align: center;
    color: rgb(107, 10, 43);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desText{
    text-align: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(bg.jpg);
    height: 400px;
    width: 100%;
}
#source{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid rgb(34, 24, 187);
    border-top: 2px solid rgb(187, 24, 173);
    border-right: 2px solid rgb(187, 24, 46);
    border-left: 2px solid rgb(135, 24, 187);
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 2rem;
    background-image: url(R.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    backface-visibility: visible;
    background-size: cover;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: black;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #252525;
    margin-top: 5rem;
}


hr{
    margin-bottom: 50px;
}
.foot{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}